.plas-filter-section {display: flex;align-items: center; justify-content: space-between; margin-bottom: 1rem; }
.plas-filter-heading h2 {font-size:20px; font-weight: 600; margin: 0; padding: 0; color:var(--white); }
.plas-search-filter input.form-control {background: transparent; color-scheme: dark; border-radius: 5px; font-size: 14px; border: 1px solid rgb(255 255 255 / 15%); font-weight: 400; height: auto; padding: 12px 15px; box-shadow: none; outline: 0; width: 100%; display: inline-block; color: var(--white); }
.plas-search-filter select.form-control {background: transparent; color-scheme: dark;border-radius: 5px; font-size: 14px; border: 1px solid rgb(255 255 255 / 15%); font-weight: 400; height: auto; padding: 12px 15px; box-shadow: none; outline: 0; width: 100%; display: inline-block; color: var(--white); appearance: revert; }
.plas-search-filter textarea.form-control {background: transparent; color-scheme: dark;border-radius: 5px; font-size: 14px; border: 1px solid rgb(255 255 255 / 15%); font-weight: 400; height: auto; padding: 12px 15px; box-shadow: none; outline: 0; width: 100%; display: inline-block; color: var(--white); }
.plas-search-filter .form-control::-ms-input-placeholder {color: var(--white);}
.plas-search-filter .form-control::placeholder {color: var(--white);}

.plas-search-filter .form-control:focus {border: 1px solid var(--yellow); }
.search-form-group {position: relative; } 
.search-form-group input.form-control {padding-right: 2rem; } 
.search-form-group span.search-icon {position: absolute; right: 10px; top: 7px; }
a.Accountapproval-btn {border-radius: 5px; background: var(--pink); box-shadow: 0px 4px 12px 0px rgba(182, 0, 248, 0.06); padding: 15px 20px; color: var(--white); text-align: center; font-size: 13px; font-style: normal; font-weight: 500; line-height: normal; width: 100%; display: inline-block; position: relative; outline: none; }

.blog-card {background: #fff; border-radius: 10px; position: relative; margin-bottom: 1rem; } 
.blog-card-image {width: 100%; border-radius: 10px 10px 0 0; height: 240px; position: relative; overflow: hidden; } 
.blog-card-image img {width: 100%; height: 100%; object-fit: cover; }
.Views-text {position: absolute; z-index: 1; background: rgb(255 255 255 / 78%); bottom: 0; padding: 5px 10px 5px 10px; color: #b357c3; backdrop-filter: blur(5px); width: 100%; text-align: center; font-size: 14px; } 
.Views-text img {height: 18px; margin: auto; width: 18px; margin-right: 5px; } 
.blog-card-content {padding: 15px; } 
.blog-card-content h2 {font-size: 14px; font-weight: 600; margin: 0 0 5px 0; padding: 0; color: var(--gray);  overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; line-clamp: 2; -webkit-box-orient: vertical;     height: 34px;} 
.blog-card-content p {font-size: 14px; font-weight: normal; margin: 0 0 10px 0; padding: 0; color: var(--gray); overflow: hidden; display: -webkit-box; -webkit-line-clamp: 4; line-clamp: 4; -webkit-box-orient: vertical; }

.blog-card-point-text {display: flex; gap: 10px; align-items: center; } 
.date-text {font-size: 12px; font-weight: 600; margin: 0 0 0px; padding: 3px 20px; color: var(--blue);  display: inline-block;  line-height: normal; } 
.blogby-text {font-size: 14px; margin: 0; padding: 0; color: var(--gray); }
.blogby-text span{color: var(--pink); }

a.deletebtn {
    background: var(--white);
    border: 1px solid var(--red);
    padding: 3px 20px;
    display: inline-block;
    font-size: 12px;
    color: var(--red);
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.05);
}