.plas-filter-section {display: flex;align-items: center; justify-content: space-between; margin-bottom: 1rem; }
.plas-filter-heading h2 {font-size:20px; font-weight: 600; margin: 0; padding: 0; color:var(--white); }
.plas-search-filter input.form-control {background: transparent; color-scheme: dark; border-radius: 5px; font-size: 14px; border: 1px solid rgb(255 255 255 / 15%); font-weight: 400; height: auto; padding: 12px 15px; box-shadow: none; outline: 0; width: 100%; display: inline-block; color: var(--white); }
.plas-search-filter select.form-control {background: transparent; color-scheme: dark;border-radius: 5px; font-size: 14px; border: 1px solid rgb(255 255 255 / 15%); font-weight: 400; height: auto; padding: 12px 15px; box-shadow: none; outline: 0; width: 100%; display: inline-block; color: var(--white); appearance: revert; }
.plas-search-filter textarea.form-control {background: transparent; color-scheme: dark;border-radius: 5px; font-size: 14px; border: 1px solid rgb(255 255 255 / 15%); font-weight: 400; height: auto; padding: 12px 15px; box-shadow: none; outline: 0; width: 100%; display: inline-block; color: var(--white); }
.plas-search-filter .form-control::-ms-input-placeholder {color: var(--white);}
.plas-search-filter .form-control::placeholder {color: var(--white);}

.plas-search-filter .form-control:focus {border: 1px solid var(--yellow); }
.search-form-group {position: relative; } 
.search-form-group input.form-control {padding-right: 2rem; } 
.search-form-group span.search-icon {position: absolute; right: 10px; top: 7px; }
a.Accountapproval-btn {border-radius: 5px; background: var(--pink); box-shadow: 0px 4px 12px 0px rgba(182, 0, 248, 0.06); padding: 15px 20px; color: var(--white); text-align: center; font-size: 13px; font-style: normal; font-weight: 500; line-height: normal; width: 100%; display: inline-block; position: relative; outline: none; }

.manage-notification-item {background:var(--darkpink);display: flex;align-items: center;box-shadow: 0px 8px 13px rgb(0 0 0 / 5%);position: relative;margin-bottom: 1rem;padding: 10px;border-radius: 5px;}
.manage-notification-content {flex: 1; }
.notification-descr{margin-bottom: 10px;}
.notification-descr p {font-size: 14px; font-weight: normal; margin: 0; padding: 0; color: var(--white); line-height: normal; }

.notification-tags {display: inline-block; border-radius: 5px; padding: 5px 15px; line-height: normal; font-size: 14px; color: var(--white); background: var(--pink); margin-bottom: 5px; }

.notification-date {font-size: 13px;margin: 0;color: var(--white);line-height: 24px;font-weight: normal;}

.manage-notification-icon {width: 64px; height: 64px; background: rgb(179 87 195 / 12%); text-align: center; line-height: 64px; border-radius: 50px; margin-right: 20px; }
.manage-notification-icon img {width: 32px; height: 32px; }
.manage-notification-action a {width: 48px; height: 48px; background: #f6f7f8; color: #525454; display: inline-block; text-align: center; border-radius: 64px; font-size: 20px; border: none; line-height: 42px; }




.cancel-btn{text-align: center;border: none; padding: 8px 30px; color: #fff; font-size: 13px; font-weight: 500; display: inline-block; background:var(--red); box-shadow: 0px 4px 18px rgb(74 149 207 / 11%); border-radius: 5px; }
.save-btn{text-align: center;border: none; padding: 8px 30px; color: #fff; font-size: 13px; font-weight: 500; display: inline-block; background:var(--pink); box-shadow: 0px 4px 18px rgb(74 149 207 / 11%); border-radius: 5px; }


.Plasma-modal-form h2 {font-size: 16px; font-weight: 600; margin: 0 0 1rem 0; padding: 0; text-align: center; }
.Plasma-modal-form .form-group{margin-bottom: 1rem;}
.Plasma-modal-form .form-group select.form-control {background: #fff; border-radius: 5px; font-size: 13px; border: 1px solid #e7e9eb; font-weight: 400; height: auto; padding: 10px 10px; box-shadow: 0 5px 13px rgb(240 240 241 / 46%); outline: 0; width: 100%; display: inline-block; color: #455A64; appearance: revert; }
.Plasma-modal-form .form-group input.form-control {background: #fff; border-radius: 5px; font-size: 13px; border: 1px solid #e7e9eb; font-weight: 400; height: auto; padding: 10px 10px; box-shadow: 0 5px 13px rgb(240 240 241 / 46%); outline: 0; width: 100%; display: inline-block; color: #455A64; }
.Plasma-modal-form .form-group textarea.form-control {background: #fff; border-radius: 5px; font-size: 13px; border: 1px solid #e7e9eb; font-weight: 400; height: auto; padding: 10px 10px; box-shadow: 0 5px 13px rgb(240 240 241 / 46%); outline: 0; width: 100%; display: inline-block; color: #455A64; }
.Plasma-modal-form .form-group .form-control:focus {border: 1px solid #4a95cf; } 

